@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 1.8rem;
}

@media screen and (max-width: 45em) {
    div#root {
        margin: 0 5%;
    }

    .display-brand {
        display: block;
    }

    a.nav-item {
        color: black;
    }

    a.nav-item:hover {
        color: #00d3b5;
    }

    .bg-light {
        background-color: #ffffff !important;

    }

    .brand {
        display: none;
    }

    a.navbar-brand.display-brand {
        display: contents;
    }

    .img-fluid {
        max-width: 36%;
    }

    section.main-banner {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-banner {
        padding-bottom: 10%;
    }

    .left-banner h1 {
        font-size: 2.5rem;
        width: 100%;
        font-weight: 600;
    }

    .left-banner p {
        font-size: 1rem;
        width: 80%;
        padding-bottom: 5%;
    }

    .navbar-light .navbar-toggler {

        border-color: #ffffff;
    }

    .prototypes {
        display: flex;
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }
    
    form{
       
        width: 90%;
    }
}

@media screen and (min-width: 45em) {
div#root {
    margin: 0;
    padding: 0;
}

    .display-brand {
        display: none;
    }

    ul.navbar-nav.mr-auto {
        margin: auto;
    }

    li.nav-item.active {
        padding: 0 20px 0 20px;
    }

    .header {
        box-shadow: 0 13px 13px -5px #f8f8f8;
    }

    .brand {
        display: flex;
        justify-content: center;
    }

    .brand img {
        width: 100%;
        max-width: 10%;
    }

    section.main-banner {
        display: flex;
    }

    .left-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10% 0 15%;
    }

    .left-banner h1 {
        font-size: 2.5rem;
        width: 80%;
        font-size: 4rem;
        font-weight: 600;
    }

    .left-banner p {
        font-size: 1rem;
        width: 80%;

    }

    a.nav-item:hover {
        color: #00d3b5;
    }

    a.nav-item {
        color: black;
    }

    .card-deck {
        padding: 0 10% 2% 10%;
    }

    .prototypes h2 {
        width: 90%;
    }

    .about {

        flex-direction: column;
    }

    .content-about {
        display: flex;
        padding: 5%;
    }

    .title-about {
        font-weight: 400;
        width: 70%;
    }

    .picture-about {
        padding-left: 5%;
        padding-right: 10%;
    }

    .left-about p {
        width: 70%;
    }

    .left-banner h2 {
        font-weight: bold;
    }
}

.features,
.about,
.form-content{
    background: #f6f6f6;
    padding-bottom: 5%;
}

.main-banner {
    padding-bottom: 10%;
}

.left-banner button,
.left-about button, form button {
    width: 150px;
    padding: 10px 0 10px 0;
    background: #00d3b5;
    border: none;
    border-radius: 50px;
    color: white;
}

.card {
    border: none;
}

h5.card-title {
    font-weight: bold;
    font-size: 1rem;
    padding-top: 6%;
}


a.card-link {
    color: #00d3b5;
}

.about h1,
.features h1,
.testimonials h1,
.form-content h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;

    padding-top: 5%;
}

.prototypes{
    display: flex;
    padding: 5% 0;
}

.about,
.testimonials,
.form-content {
    display: flex;
    padding-top: 2%;
    justify-content: center;
}

.testimonials, .form-content {
    flex-direction: column;
    align-items: center;
}

.content-card {
    display: flex;
}

.content-card span:nth-child(1) {
    display: block;
    width: 14%;
    font-weight: 800;
}

.content-card span:nth-child(1) img {
    width: 100%;

}

.content-card span:nth-child(2) {
    display: block;
    width: 86%;
}

.card.border-card {
    border: 1px solid #f8f8f8;
    box-shadow: 0 13px 13px 2px #f8f8f8;
}

.icon-feature {
    display: flex;
    background: #00d3b5;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    padding-bottom: 2%;
}

.w-100 {
    width: auto!important;    
}
.carousel-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    background: white;
    padding: 3%;
}
a.card-link, .fa-check:before{
    color: #66d3b5;
}

.footer {
    padding: 8% 0 3% 0;
    display: flex;
    justify-content: center;
}

.testimonials-carousel{
    width: 100%;
}

@media (min-width: 576px){
.card-deck {
 
    margin-right: 0!important;
    margin-left: 0!important;
}
}

.paragraph{
    text-align: center;
}